body {
    background-color: gray;
}

section {
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;

}

section::after {
    content: "";
    display: table;
    clear: both;
}

.mini-form {
    margin: 10px;
    padding: 10px;
    float: left;
    width: 190px;
    background-color: lightblue;
    border-radius: 5px;
}

.form-input {
    width: 170px;
    float: left;
    margin: 5px;
    box-sizing: border-box;
}

select.form-input{
    width: 110px;
    font-size: 11px;
    border-radius: 3px;
    display: none;
}

.mini-form select.form-input{
    display: block;
}

.show select.form-input{
    display: block !important;
}

.input-class {
    width: 105px;
}

.input-xp {
    width: 55px
}


.character-box {
    background-color: #ff80c2;
    border-radius: 5px;
    float: left;
    margin: 5px;
    text-align: center;
    padding: 5px;
    font-size: 12px;

    width: 120px;
}

.character-box div {
    float: left;
}

.character-box .character-name {
    /* background-color: blue; */
    width: 120px;
    height: 15px;
    font-style: italic;
    overflow: hidden;
}

.character-box .character-class {
    /* background-color: red; */
    font-weight: bold;
    width: 60%;
}

.character-box .character-xp {
    /* background-color: orange; */
    width: 40%;
    font-weight: bold;
    color: white;
}


.guild-box{
    width: 283px;
    background-color: blue;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 20px;
    float: left;
}

.guild-box::after {
    content: "";
    display: table;
    clear: both;
}


.guild-name{
    width: auto;
    font-weight: bold;
    color: white;
    margin: 10px;
    font-size: 18px;
}

.guild-name span{
    margin-left: 15px;
    color: yellow;
    float: right
}

.alert{
    background-color: #f33;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    width: auto;
    float: left;
    font-weight: bold;
}

.mini-form.reset-box{
    float:right;
    
}

#reset {
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor:pointer;
}